.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30vh;
    font-family: arial;
    font-size: large;
}

.card h2 {
    font-size: x-large;
    padding: 1vh;
    margin-bottom: 0px;
}

.card img {
    width: 100%;
}

.card-content {
    padding: 1vh;
}

.card-content table {
    margin-top: 1vh;
}